{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% block content %}
  <div {{ attributes.addClass('border-b border-gray-200') }}>
    {% if primary %}
      <h2 class="sr-only">{{ 'Primary tabs'|t }}</h2>
      <ul class="tabs primary -mb-px flex space-x-8">{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
      <h2 class="sr-only">{{ 'Secondary tabs'|t }}</h2>
      <ul class="tabs secondary -mb-px flex space-x-8">{{ secondary }}</ul>
    {% endif %}
  </div>
{% endblock %}
