{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: The icon image representing the file type.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 */
#}
{% block content %}
  <div data-component-id="{{ attributes['data-component-id'] }}">
    {% set attributes = attributes.removeAttribute('data-component-id') %}
    <span{{ attributes }}>{{ icon }} {{ link }} {{ file_size }}</span>
  </div>
{% endblock %}
