<div class="bg-white px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">

        <p class="text-base font-semibold leading-7 text-primary-600">
            {{ content.field_section|field_value }}
        </p>

        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            {{ label }}
        </h1>

        {% if node.body.summary is not empty %}
            <p class="mt-6 text-xl leading-8">
                {{ node.body.summary }}
            </p>
        {% endif %}

        {% if content.schema_image is not empty %}
            <figure class="mt-16">
                <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="{{ content.schema_image|field_value }}" alt="">
                <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
                    <svg class="mt-0.5 h-5 w-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd"></path>
                    </svg>
                    {{ content.schema_image['#items'].entity.field_media_image.alt }}

                </figcaption>
            </figure>
        {% endif %}

        <div class="mt-10 max-w-2xl prose">
            {{ content.body|field_value }}
        </div>

        {% if display_submitted %}
            <footer class="node__meta mt-10 max-w-2xl">

            <div{{ author_attributes.addClass('node__submitted') }}>
                 <div class="font-medium text-gray-900">
                    {{ content.schema_author|field_value }}
                </div>
                <div class="mt-1 text-gray-500">
                    {{ date }}
                </div>
                <div class="mt-24">
                    {{ metadata }}
                </div>
            </div>
            </footer>
        {% endif %}

    </div>
</div>
